
.navbar {
  align-items: center;
  background-color: black;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  padding: 8px 20px;
}

.navbar a {
  color: white;
  font-size: 18px;
}

.navbar a + a {
  margin-left: 16px;
}

.navbar > a:first-child {
  align-items: center;
  display: flex;
}
.navbar > a:first-child div {
  font-size: 30px;
  margin-left: 8px;
}
.navbar > a:first-child div span:first-child {
  color: #90ee90;
  margin-right: 8px;
}

.navbar + div {
  height: 5px;
  background-color: #90ee90;
}

@media (max-width: 620px) {
  .navbar > a:first-child div span {
    display: none;
  }
}

.page-body {
  margin: 0 auto;
  margin-top: 36px;
  max-width: 890px;
  padding: 0 20px;
}

.external-link {
  position: relative;
}

.external-link-icon {
  font-size: 13px;
  position: absolute;
  right: -7px;
  top: 1px;
}
