
.navbar {
  align-items: center;
  background-color: black;
  display: flex;
  font-weight: 600;
  justify-content: space-between;

  & a {
    color: white;
    font-size: 18px;
  }

  & a + a {
    margin-left: 16px;
  }
}

.navbar-logo {
  align-items: center;
  display: flex;
  & div {
    font-size: 30px;
    margin-left: 8px;
    & span:first-child {
      color: #90ee90;
      margin-right: 8px;
    }
    @media (max-width: 620px) {
      span {
        display: none;
      }
    }
  }
}

.navbar + div {
  height: 5px;
  background-color: #90ee90;
}

.page-body {
  margin: 36px auto 0;
  max-width: 890px;
}

.external-link {
  position: relative;
}

.external-link-icon {
  font-size: 13px;
  position: absolute;
  right: -7px;
  top: 1px;
}
