#home > div:first-child {
    display: flex;
}

.me2 {
    border-radius: 16px;
    box-shadow: 0 2px 3px 0 rgba(60,64,67,0.3), 0 6px 10px 4px rgba(60,64,67,0.15);
    height: 240px;
    margin-left: 60px;
    margin-right: 120px;
}
