.projects-container {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(60,64,67,0.3), 0 6px 10px 4px rgba(60,64,67,0.15);
    margin: 8px;
    padding: 12px 8px;
    width: 400px;
    & img {
        vertical-align: top;
    }
    & img + img {
        margin-left: 16px;
    }
}

.project-bottom {
    margin-bottom: 0;
}

.in-progress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & p:last-child {
        justify-self: flex-end;
        margin-bottom: 0;
    }
    svg {
        color: #828091;
    }
    & > div > div:first-child {
        text-align: center;
    }
}
